{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us.....</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce!!!!</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
            Ecommerce site is jhbwefjbfkgrikjonjk werqjjbjnkgf jhbbjhbkj jhhjbbjhjbkhb
            nbnbjnjbknkjknj
            kjjkkjjkgbakjdnfaks jjk.huhijd.jihuhghwkofj hhjjkkj hhbbjnnjkin jbjkkjnbkjkjn
            <br/><br/>
            ghhurquuhireuhuqi bbh bhihrgfhijwgfe bihwirebtewjbwifw jhbihbfwiughwieh bijwbfiwe
            jwbjiefgbwijgfew bwuiefbh wjhefiuwehw iwehgwiughoiabga hjgwiognonf jnbjbgjas
            <br/><br/>
        </div>
        </center>
    </div>
</div>
{% endblock %}